body {
  font-family: Helvetica;
  background-color: whitesmoke;
  margin: 0px;
}

a{
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

h2{
  margin-right: 13px;
}


#refreshCards {
  padding: 15px;
  width: 40px;
  margin: auto;
  margin-bottom: 2em;
}


.header{
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}

.redDiv {
  background: #F00000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.yellowDiv {
  background-color: #E5A227;
}

.blueDiv {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.greenDiv{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blackDiv{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.redDiv,
.yellowDiv,
.blueDiv,
.greenDiv,
.blackDiv{
  width: 100%;
  padding: 1em 0em 2em 1em;
  margin-bottom: 0.5em;
  color: whitesmoke;
}

.button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
  box-shadow: 1px 3px 4px 0px;
  transition: 0.1s;
}

.button:hover{
  box-shadow: inset 0px 1px 0px 0px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.rotate{ /*Animation for refresh icon*/
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate.down{
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}

@media only screen and (min-width: 1000px) {
  .content{
    width: 80%;
    margin: auto;
  }

}

@media only screen and (max-width: 500px){
  h2{
    font-size: 120%;
  }

  p{
    font-size: 110%
  }
}
