body {
  font-family: Helvetica;
  background-color: whitesmoke;
}

a{
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

#refreshCards {
  padding: 15px;
  border-style: outset;
  margin: auto;
  margin-bottom: 2em;
}

#answer1, #answer2, #answer3, #answer4, #answer5{
  width: 50%;
  margin: 42px;
  font-size: 110%;
}

.header{
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.redDiv {
  background-color: #E55126;
}

.yellowDiv {
  background-color: #E5A227;
}

.blueDiv {
  background-color: #0C73B8;
}

.greenDiv{
  background-color: green;
}

.blackDiv{
  background-color: black;
}

.redDiv,
.yellowDiv,
.blueDiv,
.greenDiv,
.blackDiv{
  width: 100%;
  padding: 1em 0em 2em 1em;
  margin-bottom: 0.5em;
  color: whitesmoke;
}

.button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
  box-shadow: 5px 10px;
  transition: 2s;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media only screen and (min-width: 1000px) {
  .content{
    width: 80%;
    margin: auto;
  }
}
